:root {
	--accent: #4b6efc;
	--text: #111;
	--low: #ffffff;
	--high: #f7f7f7;

	height: 100%;

	font-family: "Inter", sans-serif;
	color: var(--text);
	background-color: var(--low);
}

:root.dark {
	--text: #fff;
	--low: #222;
	--high: #333;
}

body {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0px;

	align-items: stretch;
}

main {
	display: grid;
	padding: 25px;

	align-items: center;
	gap: 20px;
	grid-template-columns: auto 1fr;
	grid-auto-rows: min-content;

	background-color: var(--high);
	overflow: scroll;
}

main > label {
	text-align: right;
}

main input:not([type=file]), main select {
	padding: 4px;
	margin: 0px;

	background: none;
	border: 1px solid var(--text);
	border-radius: 4px;
	color: var(--text);
	font-family: "Inter", sans-serif;
	outline: none;

	transition: all 250ms ease;
}

main input:not([type=file]) {
	padding: 4px 8px;
}

main input:not([type=file]):focus {
	border-color: var(--accent);
	color: var(--accent);
}

main select {
	cursor: pointer;
}

main input[type=file]::file-selector-button {
  padding: 4px 8px;

  background: none;
  border: 1px solid var(--text);
  border-radius: 4px;
  color: var(--text);
  font-family: "Inter", sans-serif;
  cursor: pointer;

	transition: all 250ms ease;
}

main input[type=file]::file-selector-button:hover {
	border-color: var(--accent);
	color: var(--accent);
}

section {
	display: flex;
	padding: 50px;

	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

@media screen and (min-width: 800px) {
	main {
		width: 350px;
	}

	main ~ #toggle {
		display: none;
	}

	#scroll-padding {
		height: 0px;
	}

	canvas {
		height: min(calc(100vh - 100px), calc(1.4286 * calc(100vw - 500px)));
		width: min(calc(100vw - 500px), calc(0.7 * calc(100vh - 100px)));
	}

	nav {
		display: flex;

		position: fixed;
		right: 25px;
		bottom: 25px;
		z-index: 20;

		gap: 25px;
	}
}

@media screen and (max-width: 800px) {
	body {
		flex-direction: column;
	}

	main {
		--container: calc(100vw - 35px);
		--width: min(calc(var(--container) - 50px), 350px);
		--padding: calc(calc(var(--container) - var(--width)) / 2);

		width: var(--width);
		height: calc(100vh - 50px);
		padding: 25px calc(var(--padding) + 35px) 25px var(--padding);

		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 10;

		transform: translateX(0vw);

		transition: all 500ms ease;
	}

	main.closed {
		transform: translateX(-100vw);
	}

	main ~ #toggle {
		display: flex;
		padding: 10px 0px;
		margin: 0px;

		position: fixed;
		top: 50%;
		right: 0px;
		z-index: 20;

		align-items: center;
		justify-content: center;

		background: var(--low);
		border: none;
		border-radius: 5px 0px 0px 5px;
		cursor: pointer;
		transform: translate(0px, -26px) scaleX(100%);

		transition: all 500ms ease;
	}

	main ~ #toggle > svg {
		fill: var(--text);
		transform: rotate(0deg);

		transition: all 500ms ease;
	}

	main.closed ~ #toggle {
		background: var(--high);
		transform: translate(calc(100% - 100vw), -26px) scaleX(-100%);
	}

	#scroll-padding {
		height: 100px;
	}

	canvas {
		height: min(calc(100vh - 100px), calc(1.4286 * calc(100vw - 100px)));
		width: min(calc(100vw - 100px), calc(0.7 * calc(100vh - 100px)));
	}

	nav {
		display: flex;
		width: calc(100vw - 50px);
		padding: 25px;

		position: fixed;
		left: 0px;
		bottom: 0px;
		z-index: 20;

		gap: 25px;
		justify-content: flex-end;

		background-color: var(--low);
	}
}

@media screen and (max-width: 500px) {
	main {
		gap: 0px;
		grid-template-columns: 1fr;
	}

	main label {
		text-align: left;
	}

	main label:not(:first-child) {
		margin-top: 20px;
	}

	main label {
		margin-bottom: 5px;
	}
}
